#discerner_search
  = render 'discerner/searches/summary'
  .discerner-buttons
    = link_to 'Back to search', edit_search_path(@discerner_search), :class => "button-discerner positive"
  .clear
    %hr

  - unless @discerner_search.disabled? && @discerner_search.export_parameters && @discerner_search.export_parameters.select{|ep| ep.disabled?}.empty?
    #discerner_exportable_fields
      %h3
        %b Fields to be exported:

      - exportable_parameter_categories = exportable_parameter_categories(@discerner_search)
      - if exportable_parameter_categories.blank?
        = "-- No exportable parameters detected --"
      - else
        = form_tag assign_export_parameters_path(@discerner_search), :url => {:action => "assign"} do
          - exportable_parameter_categories.each do |c|
            %div{ :style => "clear:both;"}
              %br
              %h4
                = c.name
              - exportable_parameters(@discerner_search, c).each do |p|
                %div{ :class => "column #{'error' if p.deleted?}"}
                  - selected_parameters = @discerner_search.export_parameters
                  - selected_parameters = @discerner_search.search_parameters if selected_parameters.empty?
                  - is_checked = selected_parameters.where(:parameter_id => p.id).blank? ? false : true
                  = check_box_tag "parameter_ids[]", p.id, is_checked, :id => "parameter_ids_#{p.id}"
                  = label_tag "parameter_ids_#{p.id}", p.name
          .clear
          .discerner-buttons
            - if @discerner_search.disabled?
              = submit_tag 'Update and export', :class => "button-discerner positive"
            - else
              = submit_tag 'Export', :class => "button-discerner positive"