- parameter_categories =  parameter_categories(@discerner_search)

#discerner_search_summary
  %h3 Your search criteria:
    
  %div
    %b Included searches:
    = @discerner_search.combined_searches.map{|cs| cs.name}.join(', ')
    
  - parameter_categories.each do |category|
    - search_parameters = search_parameters(@discerner_search, category)
    - unless search_parameters.blank?
      %div.parameter_category_column
        %h4 
          = category.name
        - search_parameters.each do |sp|
          %b #{sp.parameter.name}:
          = search_parameter_values(sp)
          %br
.clear
.buttons
  = link_to 'Back to search', edit_search_path(@discerner_search), :class => "button-discerner positive"
.clear

%hr

#discerner_exportable_fields
  %h3
    %b Fields to be exported:
    
  = form_for @discerner_search, :url => { :action => "export", :format => :csv}, :html => {:method => :get}  do |f|
    - parameter_categories.each do |c|
      %div{ :style => "clear:both;"}
        %br
        %h4 
          = c.name
        - c.parameters.not_deleted.sort{|a,b| a.name <=> b.name}.each do |p|
          %div{ :style => "float:left;width:27em;"}
            - is_checked = @discerner_search.search_parameters.where(:parameter_id => p.id).blank? ? false : true
            = check_box_tag p.name, p.name, is_checked
            = p.name
    .clear
    .buttons
      = f.submit 'Export', :class => "button-discerner positive"