#discerner_search_header
  - if @discerner_search.persisted?
    #messages

    .discerner_search_dictionary
      %b Dictionary:
      %span{ :class => "#{@discerner_search.dictionary.css_class_name}"}
        #{@discerner_search.dictionary.name}
      - if @discerner_search.dictionary.deleted?
        %span{ :style => "color:red;"}
          %b This dictionary has been deleted. You will not be able to execute or edit this search.

    .discerner_search_name
      %b Search name:
      %span.discerner_search_name
        = @discerner_search.display_name
      %span.discerner_search_name_edit
        = link_to 'Edit', '#', :class => "edit_link icon_link"

  - else
    .discerner_dictionary_required_message
      %span
        Select dictionary in order to add search criteria

    %div.discerner_search_dictionary
      - if @searchable_dictionaries.length > 1
        = f.label :dictionary_id
        = f.select :dictionary_id, dictionary_options(@searchable_dictionaries), :include_blank => true
      - else
        %b Dictionary:
        = f.hidden_field :dictionary_id, :value => @searchable_dictionaries.last.id
        %span{ :class => "#{@searchable_dictionaries.last.css_class_name}"}
          = @searchable_dictionaries.last.name

    %div.discerner_search_name
      = f.label :name, "Search name"
      = f.text_field :name

.clear