%table{ :class => 'records' }
  %thead
    %tr
      %th Name
      %th Last updated on
      %th
  %tbody
    - @discerner_searches.each do |search|
      %tr{:class=>"#{cycle('odd_record','even_record')} #{'error' if search.disabled?}"}
        %td
          = search.display_name
        %td
          = format_datetime(search.updated_at)
        %td
          = link_to 'Open', edit_search_path(search), :class => 'show_link icon_link'
          = link_to 'Delete', search_path(search), :confirm => 'Are you sure?', :method => :delete, :class => "icon_link delete_link"