#discerner_searches
  %p
    %h3 Saved searches

  #filter
    = form_tag searches_path, :id => 'discerner_searches_filter', :class => "filter", :method => 'get', :remote => true do
      %div.filter
        = label_tag :query, "Filter by name"
        = text_field_tag :query, params[:query]
  #searches-list
    = render :partial => "list"
  .discerner-buttons
    = link_to 'Start a new search', new_search_path, { :class => 'discerner-button discerner-button-positive' }